body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(121,9,112);
  background: -moz-linear-gradient(135deg, rgba(121,9,112,1) 18%, rgba(0,255,237,1) 97%);
  background: -webkit-linear-gradient(135deg, rgba(121,9,112,1) 18%, rgba(0,255,237,1) 97%);
  background: linear-gradient(135deg, rgba(121,9,112,1) 18%, rgba(0,255,237,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#790970",endColorstr="#00ffed",GradientType=1);

  > div, ul, li, h4, h2, p {
    margin: 0;
    padding: 0;
  }
}

section.container {
  padding: 1rem 2rem;
  min-width: max-content;
}

div.header-info {
  margin-bottom: 2rem;

  > h2 {
    text-align: center;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: .5rem;
  }

  > p {
    text-align: center;
    color: #f5f5f5;
  }
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  > li {
    max-width: 550px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    -webkit-box-shadow: 15px 20px 20px -21px rgba(0,0,0,0.66);
    -moz-box-shadow: 15px 20px 20px -21px rgba(0,0,0,0.66);
    box-shadow: 15px 20px 20px -21px rgba(0,0,0,0.66);

    > h4 {
      font-weight: light;
      font-size: 10px;
      color: #aaa;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    > p {
      font-weight: bold;
      color: #222;
      font-size: 14px;
    }
  }
}